body{
    font-family: Arial;
    background:#e8f5e9;
    margin:0;
    text-align:center;
}

.container{
    max-width:500px;
    margin:auto;
    padding:20px;
}

h1{
    color:#2e7d32;
}

input{
    width:80%;
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    padding:10px 15px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#43a047;
    color:white;
    cursor:pointer;
}

#result{
    margin-top:20px;
    background:white;
    padding:15px;
    border-radius:10px;
}